 body {
  background-color: grey;
  box-sizing: border-box;
 }
 /*header*/
 }
.container {
  max-width: 1024px;
  margin: 0 auto;
}
.header {
  max-height: 96px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  position: fixed;
  font-weight: 700;
}
.header-menu
.header-menu-right {
  display: flex;
  justify-content: space-between;
  margin-top: 28px;
}
.header-menu__logo {
  margin-top: 10px;
  margin-right: 45px;
 }
.header-menu__nav,
.header-menu__right {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-menu__nav-link, 
.header-menu__right-link {
  font-size: 12px;
  line-height: 11px;
  text-transform: uppercase;
  color: #000;
  align-items: center;
  margin-right: 35px;
  
}
.header-menu__nav-link:hover {
  text-decoration: underline;
}
.header-menu__right-link:hover {
  text-decoration: underline;
}
.header__form {
  padding-right: 20px;
  border-bottom: 1px solid #000;
  margin-left: calc(50% - 177.93px/2 + 199.45px);
  position: inherit;
}
.header__input {
  border: none;
  outline: none;
}
.header__bottom {
  position: absolute;
}
.header__bottom:hover {
  cursor: pointer;
}
.header__search {
  position: absolute;
  width: 12px;
  height: 14px;
}
.header-menu__link-cart, 
.header-menu__link-ellipse {
  vertical-align: middle;
}
.header-menu__moblogo {
  display: none;
}
.header__burger-wrap {
  display: none;
}
.header-menu__link-flag {
 left: calc(50% - 20px/2 + 505px); 
}

